body{
	margin: 0;
	padding: 0;
}
#canvas{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -240px;
	margin-left: -160px;
	background: url(../image/1.jpg) no-repeat;
}
#tu{
	display: none;
}
/* .box:before,.box:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 1366px;
	height: 768px;
	animation-duration:10s ;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}
.box:before{
	animation-name:a;
}
.box:after{
	animation-name:b;
}
@keyframes a{
	0%,100%{
		transform:translate3d(0,0,0);
	}
	50%{
		transform:translate3d(-1366px,0,0);
	}
	50.001%{
		transform:translate3d(1366px,0,0);
	}
}
@keyframes b{
	0%{
		transform:translate3d(1366px,0,0);
	}
	50%{
		transform:translate3d(0,0,0);
	}
	100%{
		transform:translate3d(-1366px,0,0);
	}
} */